<ion-content>
  <div class="imgBox">
    <img src="../../../assets/image/img-3.png">
  </div>
  <div class="main">
    <h1>Quick Deliver at your Doorstep</h1>
    <p>
      Choose to be delivery or pickup accroding to when you need
    </p>

    <div class="statusBox">
      <div class="skipBtn">
        <div class="skip1"></div>
        <div class="skip2"  routerLink="/skip2"></div>
        <div class="skip3"></div>
      </div>

      <ion-button shape="round" routerLink="/loginjunction">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
