ion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: var(--primary-color);
    color: var(--light-color);
}

ion-content {
    .tearmcondition {
        padding: 0px 10px 10px 10px;

        ul {
            text-align: justify;

            li {
                margin-bottom: 10px;

                b {
                    color: #333;
                }

                span {
                    color: #333;
                }
            }
        }
    }
}