<ion-content>
  <div class="imgBox">
    <div class="textContainer">
      <ion-title>Diamond</ion-title>
      <ion-text>Food & Grians Wole Sale Mart</ion-text>
    </div>
  </div>

  <div class="main">
    <div class="ButtonBox">
      <ion-button shape="round" routerLink="/login">Login </ion-button>
      <ion-button shape="round" routerLink="/signup">Create an account </ion-button>
    </div>
    <div class="footimg">
      <img src="../../../assets/image/img-3.png" alt="Food & Grocery">
    </div>
  </div>
</ion-content>