<ion-content>
  <div class="imgBox">
    <img src="../../../assets/image/img-3.png">
  </div>
  <div class="main">
    <h1>Find Your Nearby Grocery Store</h1>
    <p>
      Find the favourites stores you want by your locations or neighbourhood
    </p>

    <div class="statusBox">
      <div class="skipBtn">
        <div class="skip1"></div>
        <div class="skip2"></div>
        <div class="skip3"></div>
      </div>

      <ion-button shape="round" routerLink="/skip2">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
