<div class="header">
  <div class="navbar">
    <ion-button fill="clear" shape="round" routerLink="/home/account">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <span>Categories</span>
  </div>
</div>

<ion-content>
  <div class="nextproduct">
    <div class="nextproductRow">
      <span>Fruits</span>
    </div>
    <div class="nextproductContainer">
      <div class="manage">
        <div class="card" *ngFor="let product of categorys">
          <div>
            <img src="{{product.path}}">
            <h3>{{product.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nextproduct">
    <div class="nextproductRow">
      <span>Vegetables</span>
    </div>
    <div class="nextproductContainer">
      <div class="manage">
        <div class="card" *ngFor="let product of categorys">
          <div>
            <img src="{{product.path}}">
            <h3>{{product.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nextproduct">
    <div class="nextproductRow">
      <span>food product</span>
    </div>
    <div class="nextproductContainer">
      <div class="manage">
        <div class="card" *ngFor="let product of categorys">
          <div>
            <img src="{{product.path}}">
            <h3>{{product.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>